/* Style Definitions */
p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
    margin-right: 0pt;
    text-indent: 0pt;
    margin-top: 0pt;
    margin-bottom: 6.0pt;
    line-height: 119%;
    text-align: left;
    font-family: Calibri;
    font-size: 10.0pt;
    color: black;
}

p.MsoBodyText,
li.MsoBodyText,
div.MsoBodyText {
    margin-right: 0pt;
    text-indent: 0pt;
    margin-top: 0pt;
    margin-bottom: 7.0pt;
    line-height: 112%;
    text-align: center;
    font-family: Garamond;
    font-size: 20.0pt;
    color: black;
}

ol {
    margin-top: 0in;
    margin-bottom: 0in;
    margin-left: -2197in;
}

ul {
    margin-top: 0in;
    margin-bottom: 0in;
    margin-left: -2197in;
}


body {
    background-color: #7DB5B5;
    height: 100%;
    min-height: 20em;
    min-width: 100%;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-container span {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}

a img:hover {
    opacity: 0.8;
}

a img:active {
    transform: scale(1.1);
}

.flex-item {
    width: 128px;
    height: 128px;
}