<!--
                /* Font Definitions */
                @font-face {
                        font-family: "Mongolian Baiti";
                        panose-1: 3 0 5 0 0 0 0 0 0 0;
                }

                @font-face {
                        font-family: "Arial Black";
                        panose-1: 2 11 10 4 2 1 2 2 2 4;
                }

                @font-face {
                        font-family: "Arial Rounded MT Bold";
                        panose-1: 2 15 7 4 3 5 4 3 2 4;
                }

                @font-face {
                        font-family: "Arial Narrow";
                        panose-1: 2 11 6 6 2 2 2 3 2 4;
                }

                /* Style Definitions */
                p.MsoNormal,
                li.MsoNormal,
                div.MsoNormal {
                        margin-right: 0pt;
                        text-indent: 0pt;
                        margin-top: 0pt;
                        margin-bottom: 6.0pt;
                        line-height: 119%;
                        text-align: left;
                        font-family: Calibri;
                        font-size: 10.0pt;
                        color: black;
                }

                p.MsoBodyText,
                li.MsoBodyText,
                div.MsoBodyText {
                        margin-right: 0pt;
                        text-indent: 0pt;
                        margin-top: 0pt;
                        margin-bottom: 7.0pt;
                        line-height: 112%;
                        text-align: center;
                        font-family: Garamond;
                        font-size: 20.0pt;
                        color: black;
                }

                ol {
                        margin-top: 0in;
                        margin-bottom: 0in;
                        margin-left: -2197in;
                }

                ul {
                        margin-top: 0in;
                        margin-bottom: 0in;
                        margin-left: -2197in;
                }

                @page {
                        size: 8.0302in 11.0in;
                }

                body {
                        background-color: #7DB5B5;
                        height: 100%;
                        min-height: 20em;
                        min-width: 100%;
                }

                .image-container {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                }

                .image-container span {
                        max-width: 100%;
                        max-height: 100%;
                        margin-top: 10px;
                }

                .flex-item {
                        width: 128px;
                        height: 128px;
                }
                -->